body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.space {
  float: left;
  height: 200px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.stars {
  float: right;
  height: 200px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.text {
  font-size: 12px;
  width: 900px;
}
